@import "config";

.site-header{
    height: 75px;
    position: fixed;
    top: 0; left: 0; right: 0;
    line-height: 75px;
    background: $white;
    box-shadow: 0 2px 10px $black;
}

.site-header-name, .site-header-nav{
    float: left;
}


.site-header-name{
        color: $red;
}

.site-header-nav{

    a{
        color: $black;
        margin: 30px; 
    }
}